@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation

<p>Happiness: @(happiness)</p>
<p>Craziness: @(craziness)</p>
<p>Sleepiness: @(sleepiness)</p>

@code {
    private HubConnection? hubConnection;
    private double happiness = 0;
    private double craziness = 0;
    private double sleepiness = 0;
    private string? message;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/activityhub"))
            .Build();

        hubConnection.On<double>("Happiness", (value) =>
        {
            happiness = value;
            InvokeAsync(StateHasChanged);
        });
        hubConnection.On<double>("Craziness", (value) =>
        {
            craziness = value;
            InvokeAsync(StateHasChanged);
        });
        hubConnection.On<double>("Sleepiness", (value) =>
        {
            sleepiness = value;
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    private async Task Stop()
    {
        if (hubConnection is not null)
        {
            await hubConnection.StopAsync();
        }
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
